
### Gradle ###
.gradle
gradle*
gradle/
build/
**/build/

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

## File-based project format:
*.ipr
*.iws

### Eclipse ###
.classpath
.project
.settings/

### loggers ###
logs/
